/*Our style sheet for the recipe-book project challenge*/
body {
    background-color: rgba(48, 150, 62, 0.712);
    border: 2px solid #fff;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

img {
    width: 200px;
    height: 150px;
    border: 5px solid rgba(100, 100, 100, 0.5);
}

div {
    padding-left: 10px;
}

.table-header {
    font-size: larger;
    text-transform: uppercase;
}